SKGPortalCore/bin
SKGPortalCore/obj
SKGPortalCore.Business/
SKGPortalCore.Core/bin
SKGPortalCore.Core/obj
SKGPortalCore.Schedule/bin
SKGPortalCore.Schedule/obj
SKGPortalCore.Core/Migrations
SKGPortalCore.Lib/bin
SKGPortalCore.Lib/obj
SKGPortalCore.Model/bin
SKGPortalCore.Model/obj
SKGPortalCore.Repository/bin
SKGPortalCore.Repository/obj
SKGPortalCore.Graph/bin
SKGPortalCore.Graph/obj
SKGPortalCore.GraphJsCreator/bin
SKGPortalCore.GraphJsCreator/obj
SKGPortalCore.NUnit/bin
SKGPortalCore.NUnit/obj
SKGPortalCore.SeedDataInitial/bin
SKGPortalCore.SeedDataInitial/obj
SKGPortalCore.CheckLog/obj
SKGPortalCore.CheckLog/bin
SKGPortalCore.Repository/SKGPortalCore.Business
TestSln/bin
TestSln/obj
obj
.vs
*.log
