SKGPortalCore/bin
SKGPortalCore/obj
SKGPortalCore.Business/
SKGPortalCore.Data/bin
SKGPortalCore.Data/obj
SKGPortalCore.Schedule/bin
SKGPortalCore.Schedule/obj
SKGPortalCore.Data/Migrations
SKGPortalCore.Lib/bin
SKGPortalCore.Lib/obj
SKGPortalCore.Model/bin
SKGPortalCore.Model/obj
SKGPortalCore.Repository/bin
SKGPortalCore.Repository/obj
SKGPortalCore.Graph/bin
SKGPortalCore.Graph/obj
SKGPortalCore.NUnit/bin
SKGPortalCore.NUnit/obj
SKGPortalCore.SeedDataInitial/bin
SKGPortalCore.SeedDataInitial/obj
SKGPortalCore.CheckLog/obj
SKGPortalCore.CheckLog/bin
SKGPortalCore.Repository/SKGPortalCore.Business
TestSln/bin
TestSln/obj
.vs
*.log
