<head>
    <script>
        function Login() {
            var postdata = {
                CustomerId: "80425514",
                UserId: "Admin",
                Pasuwado: "123456"
            };
            $.ajax({
                type: "post",
                url: "./Account/Login",
                data: postdata,
                success: function (data, status) {
                    for (var func in data) {
                        sessionStorage[func] = data[func];
                    }
                },
                error: function (data, status) {
                }
            });
        }

/**/</script>
</head>
<form>
    <h2>登入畫面</h2>
    <table>
        <tr>
            <td><input type="button" id="btnLogin" onclick="Login()" value="登入" /></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>客戶統編</td>
            <td><input id="CustomerId" /></td>
        </tr>
        <tr>
            <td>使用者</td>
            <td><input id="UserId" /></td>
            <td>密碼</td>
            <td><input id="Pasuwado" /></td>
        </tr>
    </table>
</form>